/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212; /* fundo escuro */
    color: #e0e0e0; /* texto claro */
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #ffffff;
}

.filmes {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.filme {
    display: flex;
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(255,255,255,0.05);
    overflow: hidden;
    transition: transform 0.2s ease;
    padding: 20px;
    gap: 30px;
}

.filme-imagem {
    width: 240px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10px;
}

.semelhantes {
    margin-top: 15px;
    font-size: 0.95rem;
    color: #aaa;
}

.semelhantes strong {
    display: block;
    margin-bottom: 4px;
    color: #e0e0e0;
}

.semelhantes a {
    color: #4dabf7;
    text-decoration: none;
    font-weight: 500;
}

.semelhantes a:hover {
    text-decoration: underline;
}

.semelhantes a:not(:last-child)::after {
    content: ", ";
}

/* Estilização do campo de busca */
#searchInput {
    width: 100%;
    max-width: 400px;
    margin: 20px auto 40px auto;
    display: block;
    padding: 12px 18px;
    font-size: 1rem;
    border: 2px solid #444;
    border-radius: 8px;
    background-color: #1e1e1e;
    color: #fff;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(255,255,255,0.05);
}

#searchInput:focus {
    border-color: #4dabf7;
    box-shadow: 0 0 6px rgba(77, 171, 247, 0.4);
}

header h1 {
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: #ffffff;
}

footer h5 {
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
    color: #aaa;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.redes-sociais a {
    color: #aaa;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

.redes-sociais a:hover {
    color: #fff;
}
